.trailGuideP {
	/*font-size: 1.5em;*/
}

.trailGuideP img {
	float: right;
}

#map{
  height: 70vh;
  width: 90vw;
  margin: 0 auto;
}

#map h2 {
	color: black;
	text-shadow : none;
}
#map p {
	color: black;	
}

.trailGuideP img {
	margin: 20px;
}